#root {
    width: 100%;
    margin: 0 auto;
    padding: 80px 20px;
    text-align: center;
}

.title {
    color: blue;
    /* text-align: center; */
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}